<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979336402941-p5noap6lhha07rca61uaotkhite5am2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979336402941-p5noap6lhha07rca61uaotkhite5am2m</string>
	<key>API_KEY</key>
	<string>AIzaSyC_HFQNOV4yUiujejEnQVMBZ2ntWq2l-os</string>
	<key>GCM_SENDER_ID</key>
	<string>979336402941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pp.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-5e782</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-5e782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979336402941:ios:2f17bce2242d9f902a6b94</string>
</dict>
</plist>